@charset "UTF-8";


#header{
	border: 1px solid red;
	display: flex;
	align-items: center;
	background: black;
}

#main2{
	border: 1px solid blue;
	display: flex;
	align-items: center;
/* background: black; */
}

#menuLine{
	border: 1px solid pink;
	display: flex;
	align-items: center;
}
.test01{
	border: 1px solid red;
}
.user{
	float: right;
}
span{
	border: 1px solid red;
}
.usercursor{ 
	cursor: pointer;
	font-size: 15pt;
	color: white;
	}
#title{
	font-size: 40pt;
	font-weight: bold;
	cursor: pointer;
}
.menuitem{
	width: 100px;
	cursor: pointer;
	font-size: 13pt;
}
